#parent {
	 position: relative;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: #4DEE99;
    border-radius: 250px;
}
#child {
	background-color: white;
    position: absolute;
    left: 550px;
    top: 100px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
#child1 {
	background-color:white;
    position: absolute;
    right: 550px;
    top: 100px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
#child2 {
	background-color: white;
    position: absolute;
    left: 650px;
    top: 250px;
    width: 70px;
    height: 70px;
} 
#child3 { background-color: white;
    position: absolute;
    left: 580px;
    top: 400px;
    width: 200px;
    height: 20px; }