#elem1 {
	width: 100px;
	height: 100px;
	background: #f1f1f1;
	margin-bottom: 20px;
}

#elem2 {
	width: 100px;
	height: 100px;
	background: #f1f1f1;
	padding: 25px; 
	border: 10px solid orange; 
	box-sizing: border-box; 
}