.parent {
	width: 750px;
	height: 350px;
	margin: 0 auto;
	border: 1px solid rgb(248, 7, 7);
	text-align: justify;
	display: flex;
	flex-direction:column-reverse;
}
.child {
	width: 120px;
	height: 60px;
	border: 1px solid green;
	text-align: left;}