.parent {
	width: 1300px;
	padding: 10px;
	margin: 0 auto;
	border: 1px solid black;
	text-align: justify;
}
.child {
	float: left;
	width: 100px;
	height: 50px;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 10px;
	border: 1px solid green;
	text-align: center;
}
.clearfix {
	clear: both;
}