.el {
	width: 600px;
	padding: 20px;
	margin: 0 auto;
	border: 1px solid black;
	text-align: justify;
}
.left {
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
	height:100px;
	width:100px;
}
.right {
	float: right;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
	height:100px;
	width:100px;
}