#parent {
	display: flex;
	position: relative;
	width:300px;
	height: 700px;
	margin: 0 auto;
	border: 1px solid black;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	}
#child {
	margin-bottom:10px;
	background-color: red;
	width: 150px;
	height: 150px;
	border-radius: 100%;
	border: 1px solid black;
	position: absolute;
	top: 125px;
	left:600px;
}
#child1 {
	margin-bottom:10px;
	width: 150px;
	height: 150px;
	background-color: yellow;
	border-radius: 100%;
	border: 1px solid black;
	position: absolute;
	top: 300px;
	left:600px
}
#child2 {
	margin-bottom:10px;
	width: 150px;
	height: 150px;
	background-color: green;
	border-radius: 100%;
	border: 1px solid black;
	position: absolute;
	top: 475px;
	left:600px
} 