#elem1 {
	width: 50px;
	height:50px;
	border: 1px solid red;
}
#elem2 {
	position: absolute;
	top: 90px;
	left: 80px;
	
	width: 50px;
	height: 50px;
	border: 1px solid blue;
}
#elem3 {
	position: absolute;
	top: 180px;
	left: 160px;
	
	width: 50px;
	height: 50px;
	border: 1px solid green;
}