#elem1 {
	width: 50px;
	height:50px;
	border: 1px solid red;
	position: absolute;
	top: 30px;
	left: 10px;
}
#elem2 {
	position: absolute;
	top: 60px;
	left: 40px;
	
	width: 50px;
	height: 50px;
	border: 1px solid blue;
}
#elem3 {
	position: absolute;
	top: 90px;
	left: 70px;
	
	width: 50px;
	height: 50px;
	border: 1px solid green;
}