#parent {
	position: relative;
	width:500px;
	height: 400px;
	margin: 0 auto;
	border: 1px solid green; }
#child {
	position: absolute;
	top: 100px;
	left: 500px;
	
	width: 100px;
	height: 100px;
	border: 1px solid red;}