.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: #c4cd14;
	text-align: center;
	line-height: 50px;
	font-size: 21px;
	color: white;
	border-bottom: 1px solid #a3aa11;
}
.text {
	width: 600px;
	margin: 60px auto;
	padding: 20px;
	border: 1px solid #c4cd14;
}
p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}