#elem1 {
	width: 50px;
	height:50px;
	
	position: absolute;
	top: 30px;
	left: 10px;
	background-color: pink;
}
#elem2 {
	position: absolute;
	top: 60px;
	left: 40px;
	
	width: 50px;
	height: 50px;
	
	background-color: lightblue;
}
#elem3 {
	position: absolute;
	top: 90px;
	left: 70px;
	
	width: 50px;
	height: 50px;

	background-color: lightgreen;
}