#parent {
	position: relative;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background-color: #C4CD14;
    border-radius: 400px;
}
#child {
	background-color: white;
    position: absolute;
    left: 550px;
    top: 100px;
    width: 80px;
    height: 80px;
    border-radius: 50px;
}
#child1 {
	background-color: white;
    position: absolute;
    right: 550px;
    top: 100px;
    width: 80px;
    height: 80px;
    border-radius: 50px;
}
#child2 {
	background-color: white;
    position: absolute;
    left: 660px;
    top: 225px;
    width: 50px;
    height: 50px;
    border-radius: 40px;
} 
#child3 { background-color: white;
    position: absolute;
    left: 580px;
    top: 300px;
    width: 200px;
    height: 20px;
	border-radius: 100px;}
