#elem {
	padding-top:    10px; /* сверху */
	padding-right:  15px; /* справа */
	padding-bottom: 40px; /* снизу */
	padding-left:   40px; /* слева */
	
	width: 300px;
	height: 150px;
	border: 1px solid red;
	text-align: justify;
}