#parent {
	position: relative;
	width:600px;
	height: 500px;
	margin: 0 auto;
	
	background-color: #4DEE99;
 }
#child {
	position: absolute;
	top: 60px;
	left: 420px;
	background-color: white;
	
	width: 100px;
	height: 100px;
	}
#child1 {
	position: absolute;
	top: 320px;
	right: 420px;
	width: 100px;
	height: 100px;

	background-color: white; }